sudo: false

language: php

php:
- 5.4
- 5.5
- 5.6
- 7.0

addons:
  code_climate:
    repo_token:
      secure: "WIyvPYejilSlf+GTGMnOtKeFz01t667INGuaPguWkVm0nkBIYaedXrdnF2o6Hz/Xbji14Hozylh7oBIumC+37bw5/DQtoPHS8/EJ5zKOrOSGsYOciQRRNIhQkAKmNANqmBkM4Tr2EiWZeRcQKtJFtlBSXJ55RFUML+PON0RljbQ="

before_script:
- curl -sS https://getcomposer.org/installer | php
- php composer.phar install --dev --prefer-source --no-interaction

script:
- mkdir -p build/logs
- composer lint
- composer test

after_script:
- vendor/bin/test-reporter --stdout > codeclimate.json
- "curl -X POST -d @codeclimate.json -H 'Content-Type: application/json' -H 'User-Agent: Code Climate (PHP Test Reporter v0.1.1)' https://codeclimate.com/test_reports"

cache:
  directories:
  - node_modules
