<?xml version="1.0" encoding="utf-8"?>
<!--
    phpunit -c phpunit.xml
-->
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="./tests/bootstrap.php">

    <testsuites>
        <testsuite name="php-cli-helpers unit tests">
            <directory>./tests/unit/</directory>
        </testsuite>
        <testsuite name="php-cli-helpers integration tests">
            <directory>./tests/integration/</directory>
        </testsuite>
    </testsuites>

    <filter>
      <whitelist processUncoveredFilesFromWhitelist="true">
        <directory suffix=".php">./src/</directory>
      </whitelist>
    </filter>

</phpunit>
